# Copyright © 2017 Dell Inc. or its subsidiaries.  All Rights Reserved
[Unit]
Description=Dell DNE PAQX service
After=network.target docker.service dell-services.service
[Service]
Type=simple
WorkingDirectory=/opt/dell
Environment=HOSTNAME=%H
ExecStart=/usr/bin/docker-compose -f /opt/dell/dne-paqx/install/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /opt/dell/dne-paqx/install/docker-compose.yml down
[Install]
WantedBy=multi-user.target